/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background:#333;
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #2e9dd8;
  }

  /* degrade para a barra vertical */
::-webkit-scrollbar-thumb {
  background: #2e9dd8;
  background: -moz-linear-gradient(top, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
  background: -webkit-linear-gradient(top, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  background: linear-gradient(to bottom, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
  }
   
  /* degrade para a barra horizontal com a direção do degrade alterada */
  ::-webkit-scrollbar-thumb:horizontal {
  background: #2e9dd8;
  background: -moz-linear-gradient(left, #333333 0%, #3f69b1 25%, #2e9dd8 50%, #3f69b1 76%, #333333 100%);
  background: -webkit-linear-gradient(left, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  background: linear-gradient(to right, #333333 0%,#3f69b1 25%,#2e9dd8 50%,#3f69b1 76%,#333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
  }

  .scroll::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
    .scroll::-webkit-scrollbar-track {
    background:#333;
    }
     
    .scroll::-webkit-scrollbar-thumb {
    background: #2e9dd8;
    }